<div class="container">
    <div class="row g-2">
        <div class="col-md-10">
            <div class="row g-2">
                <div class="col-md-4">
                    <!-- component -->
                    <div class="flex justify-center">

                        <div class="px-6 flex flex-wrap">
                        <p class="">
                            <!-- Code block for button with indigo outline starts -->
                            <button class=" my-2 bg-white transition duration-150 ease-in-out
                            hover:bg-gray-100 hover:text-indigo-600 rounded border border-indigo-700
                            text-indigo-700 px-6 py-2 text-md focus:outline-none focus:ring-2 focus:ring-offset-2 
                            focus:ring-indigo-700">50$</button>
                            <!-- Code block for button with indigo outline ends -->
                            <!-- Code block for button with indigo outline starts -->
                            <button class="mx-2 my-2 bg-white transition duration-150 ease-in-out hover:bg-gray-100 
                            hover:text-indigo-600 rounded border border-indigo-700 text-indigo-700 px-6 py-2 text-md
                            focus:outline-none focus:ring-2 focus:ring-offset-2  focus:ring-indigo-700">100$</button>
                            <!-- Code block for button with indigo outline ends -->

                            <!-- Code block for white button starts -->
                            <button class=" my-2 bg-white transition duration-150 ease-in-out focus:outline-none
                            hover:bg-gray-200 rounded text-indigo-700 px-6 py-2 text-md focus:outline-none focus:ring-2 
                            focus:ring-offset-2  focus:ring-indigo-700">Autre montant...</button>
                            <!-- Code block for white button ends -->
                        </p>
                        </div>
            
                    </div>
                </div>
                <div class="col-md-4">
                    <select class="form-select border-0 py-3">
                        <option selected>Action Cible</option>
                        <option value="1">Faim</option>
                        <option value="2">Education</option>
                        <option value="3">Seheresse</option>
                        <option value="4">Logement</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <select class="form-select border-0 py-3">
                        <option selected>Pays</option>
                        <option value="1">Pays 1</option>
                        <option value="2">Pays 2</option>
                        <option value="3">Pays 3</option>
                        <option value="4">Pays 4</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <button class="btn btn-dark border-0 w-100 py-3">Je Valide mon don</button>
        </div>
    </div>
</div>