        <!-- Carousel Start -->
        <div class="p-0 mb-5">
            <div class="owl-carousel-item position-relative">
                <div class="hero--video-donate-form">
                    <div class="hero--video-container" data-behavior="DonateVideoHero">
                        <div class="absolute z-20 w-full h-full opacity-25 hero--video-overlay"></div>
                        <div class="z-10 hero--video-wrapper">
                            <video autoplay="autoplay" loop="loop" muted="muted"
                                poster="https://cw-contentful-assets.imgix.net/https%3A%2F%2Fimages.ctfassets.net%2Fwvozpes63uc8%2F4AHCFRDETvMfLfwdeVuV10%2Fd3bcd5325b956f0eec6ea031b424149e%2Fhome-cycle-video-poster.jpg?ixlib=rails-4.1.0&auto=format&w=1920&s=60142f7345a4b58eb4fee6b27d2f8fab"
                                src="https:##//videos.ctfassets.net/wvozpes63uc8/3LyhCLp2YLQ02HnzHp5IPw/b98b99451d4472709662737809306735/home-cycle-video.mp4?">
                            </video>
                        </div>
                    </div>
                    <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                        <div class=" container">
                            <div class="row justify-content-start">
                                <div class="col-sm-10 col-lg-8">
                                    <h5 class="text-primary text-uppercase mb-3 animated slideInDown">Action<sup>+</sup> Organisation Humanitaire</h5>
                                    <h1 class="display-5 text-white animated slideInDown">Aidez à apporter le bien-etre à chaque personne sur la planète</h1>
                                    <p class="fs-5 text-white mb-4 pb-2">
                                    La crise de l'eau, l'éducation et l'electricité sont massives.
                                    Mais ensemble, nous pouvons le résoudre.
                                    Rejoignez " Une Action de <sup>+</sup>, 
                                    notre communauté de donateurs mensuels, pour apporter chaque mois de le bien-etre aux familles du monde entier.
                                    </p>

                                </div>
                                <!--Add donate home page 1 --> 
                                <div class="col-sm-2 col-lg-4">
                                    <%= render "welcome/shared/donatehp-1" %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Carousel End -->