<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Notre mission</h6>
            <h1 class="mb-5">70 millions de personnes n'ont pas accès à une eau potable, à l'éducation et de l'élèctricité. Nous avons pour mission de changer céla</h1>
            <p class="mt-8">Nous croyons que le travail durable est dirigé localement. Parallèlement à la mise en œuvre de projets d'approvisionnement en eau appartenant à la communauté, nos partenaires locaux contribuent à faciliter la programmation complète de l'eau, de l'assainissement et de l'hygiène (WASH) afin de protéger la santé de chacun à long terme.</p>
        </div>
    </div>
    
    <div class="row container-xxl justify-content-center mt-20">
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="course-item bg-light">
                <div class="position-relative overflow-hidden">
                    <%= image_tag "back-8.png", class:"img-fluid", alt:"" %>
                </div>
                        
                <div class="d-flex border-top">
                    <p class="flex-fill text-center border-end py-2">
                        Lorem ipsum Voluptates, aperiam saepe?
                    </p>
                </div>       
            </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="course-item bg-light">
                <div class="position-relative overflow-hidden">
                    <%= image_tag "back-4.png", class:"img-fluid", alt:"" %>    
                </div>
                        
                <div class="d-flex border-top">
                    <p class="flex-fill text-center border-end py-2">
                    145personnes agées</p>     
                </div>
                        
            </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
            <div class="course-item bg-light">
                <div class="position-relative overflow-hidden">
                    <%= image_tag "back-3.png", class:"img-fluid", alt:"" %>  
                </div>
                <div class="d-flex border-top">
                    <p class="flex-fill text-center border-end py-2">
                    145personnes agées
                    </p>
                </div>
            </div>
        </div>
        
    </div>

    <div class="container">
        <div class="text-center mt-16" >  
            <%= link_to "apprendre plus", "nous-decouvrir", class:"inline-block no-underline px-6 py-2 text-xs font-medium leading-6 text-center text-blue-700 uppercase transition bg-transparent border-2 border-blue-700 rounded ripple hover:bg-blue-100 focus:outline-none" %>
        </div>
    </div>
</div>
